{% extends 'base.html' %}
{% block html_body %}
    <div id="main_silder1">
    <div class="dj_slider slider_1st">
        <div class="slider_1 slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
            <!-----------------------------------------------------------
                       롤링 이미지 영역입니다.
                       onclick="window.location.href='이동할주소';"
                       background-image:url(이미지파일명)
       		<div style="background-image:url(/web/pc버전/배경5.jpg);" onclick="window.location.href='/product/list.html?cate_no=27';" alt="메인이미지2" class="full_bg"></div>
        </div>
            ------------------------------------------------------------->

            <!-- 2 -->
            <!--<div style="background-image:url(/web/dummy/main_banner_210624_mug.png);" onclick="window.location.href='/product/list.html?cate_no=111';" alt="공파리파,구형준,김똘복 머그컵" class="full_bg"></div>-->
            <!-- 1 (제작,배송중)-->
            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2746px;"><div style="background-image: url(&quot;/web/dummy/Mb_210707_1.png&quot;); width: 1373px; position: relative; left: 0px; top: 0px; transition: opacity 400ms linear 0s; opacity: 1; z-index: 1000;" alt="7월머그컵제작중" class="full_bg slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"></div><div style="background-image: url(&quot;/web/dummy/Mb_210727.png&quot;); width: 1373px; position: relative; left: -1373px; top: 0px; transition: opacity 400ms linear 0s; opacity: 0; z-index: 998;" alt="6월장패드배송중" class="full_bg slick-slide" data-slick-index="1" aria-hidden="true"></div></div></div>

		<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;"><li class="slick-active" aria-hidden="false"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" class=""><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li></ul></div>




        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/_dj/js/slick/slick.min.js"></script>
        <!---------------------------------------------------------------------
                 autoplaySpeed: 5000 에서 속도를 조절하시면 됩니다. 1000 = 1초
        ---------------------------------------------------------------------->
        <script type="text/javascript">
            $('.slider_1').slick({
                autoplay: true,
                autoplaySpeed: 4000,
                dots: true,
                fade: true,
                arrow: true,
                infinite: true,
                speed: 400,
                cssEase: 'linear',
                accessibility: false,
                pauseOnHover: false,
            });
        </script>
    </div>
</div>
{% endblock %}