{% extends 'base.html' %}
{% load static %}
{% block html_header %}
    <script src="{% static 'js/shopbasket_list.js' %}"></script>
    <style>
    .myfocus{
            background-color: darkgrey;
    }
    </style>
{% endblock %}
{% block html_body %}
    <h1 style="text-align: center;">구매 목록</h1>

    <div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>주문번호</th>
            <th></th>
            <th>상품명</th>
            <th>가격</th>
            <th>주문 수량</th>
        </tr>
        </thead>
        <tbody>

        {% if basket_list %}
        {% for basket in basket_list %}
        {% if basket.s_ordered %}
           <tr>
                <td>{{ basket.id }}</td>
                <td>
                    <a href="{% url 'shop:product_detail' basket.product.p_id %}"><img src="{{ basket.product.p_image }}" width="100px"></a>
                </td>
                <td>
                    <a href="{% url 'shop:product_detail' basket.product.p_id %}">{{ basket.product.p_title }}</a>
                </td>
                <td>{{ basket.product.p_lprice }}</td>
                <td>{{ basket.s_amount }}</td>
            </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td></td>
            <td style="text-align: center" colspan="3">구매한 상품이 없습니다.</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
{% endblock %}