{% extends 'base.html' %}
{% block html_body %}
<div class="container container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>#</label>
                    <input type="text" class="form-control" id="question_id" placeholder="{{ question.id }}" readonly>
                </div>
            </div>
            <div class="col">
                 <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" id="question_title" placeholder="{{ question.q_title }}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" id="question_date" placeholder="{{ question.q_date }}" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" class="form-control" id="question_author" placeholder="{{ question.q_author }}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>TextArea</label>
                    <textarea class="form-control" id="question_area" rows="10" readonly>{{ question.q_content }}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group" align="right">
            <a href="{% url 'shop:get_question_list'%}"><button type="button" class="btn btn-primary">목록</button></a>
            </div>
        </div>

        {% for answer in question.answer_set.all %}
            <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>#</label>
                    <input type="text" class="form-control" id="answer_id" placeholder="{{ answer.id }}" readonly>
                </div>
            </div>
            <div class="col">
                 <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" id="answer_title" placeholder="{{ answer.a_title }}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" id="answer_date" placeholder="{{ answer.a_date }}" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" class="form-control" id="answer_author" placeholder="관리자" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>TextArea</label>
                    <textarea class="form-control" id="answer_area" rows="10" readonly>{{ answer.a_content }}</textarea>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br>
{% endblock %}